<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site_title }} - Политика конфиденциальности</title>
    <link rel="shortcut icon" href="https://cms.abpx.kz/{{ site_favicon.path }}" type="image/png">
    <link rel="stylesheet" href="{{ base_url }}assets/css/bootstrap/bootstrap.css?v=2" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/swiper.min.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/new.style.css?v=15" />

    {{ site_scripts_in_head|raw }}
  
  </head>
  <body>

    <header class="position-absolute align-items-center w-100" style="z-index: 11111">
        <div class="container">
          <div class="row">
  
            <div class="col d-flex d-lg-none pe-0 menu-toggle-wrapper">
              <div class="menu-toggle main-header__menu-toggle" onclick="frontend.sidebar('close'); return false">
                  <span class="menu-toggle__line"></span>
                  <span class="menu-toggle__line"></span>
                  <span class="menu-toggle__line"></span>
              </div>
            </div>
  
            <div class="col-4 col-md-3 col-lg-2 col-xl-2 col-xxl-1 d-flex brand align-items-center justify-content-start">
              <a class="navbar-brand d-inline-block py-2 mr-1" target="_blank" href="https://exin.kz/">
                <img src="https://cms.abpx.kz{{ exin_logo.path }}" class="px-2 py-1" />
              </a>
              <a class="navbar-brand d-inline-block py-2 m-0" href="/#home">
                <img src="https://cms.abpx.kz{{ site_logo.path }}" class="px-2 py-1" />
              </a>
            </div>
  
            <div class="d-none d-lg-flex col-lg col-xl d-flex align-items-center justify-content-end">
              <ul class="nav-menu right text-end">
                <li>
                  <a class="active" href="/#home">
                    О комплексе
                  </a>
                </li>
                <li>
                  <a href="/#flats">
                    Квартиры
                  </a>
                </li>
                <li>
                  <a href="/#buildingSteps">
                    Ход строительства
                  </a>
                </li>
                <li>
                  <a href="/#contacts">
                    Контакты
                  </a>
                </li>
              </ul>
            </div>
            
            <div class="col-5 col-md-5 col-lg-3 ms-auto d-flex align-items-center justify-content-end menu">
              <a href="tel:{{ site_phone }}" id="phoneGroup">
                <span class="icon"><span class="icon-phone"></span></span>
                <span class="phoneNumber">{{ site_phone }}</span><br>
                <span class="info">Отдел продаж</span>
              </a>
            </div>
            
          </div>
        </div>
      </header>

      <section class="private-police" style="padding: 140px 0px 70px 0px">
          <div class="container">
            <h2 class="sectionTitle">
              Политика конфиденциальности
            </h2>
            <p>Настоящая Политика конфиденциальности персональных данных (далее &ndash; Политика конфиденциальности) действует в отношении всей информации, официального сайта ЖК Exclusive Duet, расположенный на доменном имени www.ex-duet.kz, может получить о Пользователе во время использования сайта, а также во время взаиможействия с рекламным сообщением.</p>
            <p>1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ<br />1.1 В настоящей Политике конфиденциальности используются следующие термины:<br />1.1.1. &laquo;Администрация сайта&raquo; (далее &ndash; Администрация сайта) &ndash; уполномоченные сотрудники на управление сайтом, действующие от имени организации, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br />1.1.2. &laquo;Модератор объявлении&raquo; (далее &ndash; Модератор объявлении) &ndash; уполномоченные сотрудники на управление рекламными объявлениями, действующие от имени организации, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.<br />1.1.3. &laquo;Персональные данные&raquo; &ndash; любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).<br />1.1.4. &laquo;Обработка персональных данных&raquo; &ndash; любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.<br />1.1.5. &laquo;Конфиденциальность персональных данных&raquo; &ndash; обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.<br />1.1.6. &laquo;Пользователь сайта&raquo; или &laquo;Пользователь взаимодействующий с рекламным сообщением&raquo; (далее &ndash; Пользователь) &ndash; лицо, имеющее доступ к Сайту или рекламному объявлению, посредством сети Интернет и использующее Сайт или рекламное сообщение.<br />1.1.7. &laquo;Cookies&raquo; &mdash; небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.<br />1.1.7. &laquo;IP-адрес&raquo; &mdash; уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.</p>
            <p>2. ОБЩИЕ ПОЛОЖЕНИЯ<br />2.1. Использование Пользователем сайта или рекламного сообщения означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.<br />2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта или взаимодействие с рекламным сообщением.<br />2.3. Настоящая Политика конфиденциальности применяется только к сайту www.ex-duet.kz и рекламным сообщениям от страницы https://www.facebook.com/Жилой-Комплекс-Exclusive-Duet-103560329013312/ и https://www.instagram.com/exclusive.duet/. Администрация сайта или Модератор объявлении не контролирует и не несет ответственность за сайты и социальные страницы третьих лиц, на которые Пользователь может перейти.<br />2.4. Администрация сайта и Модератор объявлении не проверяет достоверность персональных данных, предоставляемых Пользователем.</p>
            <p>3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ<br />3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта и Модератора объявлении по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта или Модератора объявлении при отправлении заявки на контакт или при оформлении заказа.<br />3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения форм обратной связи на Сайте www.ex-duet.kz или путём заполнения формы с рекламного сообщения в социальной сети Facebook, Instagram, Vkontakte и могут включать в себя следующую информацию:<br />3.2.1. фамилию, имя, отчество Пользователя;<br />3.2.2. контактный телефон Пользователя;<br />3.2.3. адрес электронной почты (e-mail);<br />3.2.4. Сайт осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем для контроля законности проводимых действий.<br />3.4. Любая иная персональная информация неоговоренная выше (история просмотров, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.</p>
            <p>4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ<br />4.1. Персональные данные Пользователя Администрация сайта и Модератор объявлении может использовать в целях:<br />4.1.1. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования Сайта, оказания услуг, обработка запросов и заявок от Пользователя.<br />4.1.2. Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.<br />4.1.3. Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.<br />4.1.4. Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием Сайта.<br />4.1.5. Предоставления Пользователю с его согласия специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени Сайта или от имени партнеров Сайта.<br />4.1.6. Осуществления рекламной деятельности с согласия Пользователя.<br />4.1.7. Предоставления доступа Пользователю на сайты или сервисы партнеров Сайта с целью получения продуктов, обновлений и услуг.</p>
            <p>5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ<br />5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.<br />5.2. Пользователь соглашается с тем, что Администрация сайта и Модератор объявлении вправе передавать персональные данные третьим лицам, в частности, курьерским службам, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения обратной связи на запрос или заявку Пользователя, оформленного на Сайте или оставленного в социальной сети Facebook, Instagram или Vkontakte.<br />5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Республики Казахстан только по основаниям и в порядке, установленным законодательством Республики Казахстан.<br />5.4. При утрате или разглашении персональных данных Администрация сайта или Модератор объявлении информирует Пользователя об утрате или разглашении персональных данных.<br />5.5. Администрация сайта и Модератор объявлении принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.<br />5.6. Администрация сайта и Модератор объявлении совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.</p>
            <p>6. ОБЯЗАТЕЛЬСТВА СТОРОН<br />6.1. Пользователь обязан:<br />6.1.1. Предоставить информацию о персональных данных, необходимую для пользования Администрацией сайта или Модератором объявлении.<br />6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.<br />6.2. Администрация сайта и Модератор объявлении обязанц:<br />6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.<br />6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.<br />6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.<br />6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий.</p>
            <p>7. ОТВЕТСТВЕННОСТЬ СТОРОН<br />7.1. Администрация сайта и Модератор объявлении, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Республики Казахстан, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.<br />7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта или Модерато объявлении не несёт ответственность, если данная конфиденциальная информация:<br />7.2.1. Стала публичным достоянием до её утраты или разглашения.<br />7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта или Модератором объявлении.<br />7.2.3. Была разглашена с согласия Пользователя.</p>
            <p>8. РАЗРЕШЕНИЕ СПОРОВ<br />8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта или Модератором объявлении, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).<br />8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.<br />8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Республики Казахстан.<br />8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта или Модератором объявлении применяется действующее законодательство Республики Казахстан.</p>
            <p>9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ<br />9.1. Администрация сайта или Модератор объявлении вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.<br />9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте, если иное не предусмотрено новой редакцией Политики конфиденциальности.<br />9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать указать раздел сайта.<br />9.4. Действующая Политика конфиденциальности размещена на странице по адресу www.ex-duet.kz/privacypolicy</p>
            <p>Обновлено 30 июля 2021 г.</p>
          </div>
      </section>

      {{ include('widgets/footer.twig') }}

  </body>
  
  <script src="{{ base_url }}assets/js/swiper.min.js"></script>
  <script src="{{ base_url }}assets/js/fslightbox.js"></script>

  {{ site_scripts_in_footer|raw }}

</html>
