<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ site_title }} - Политика конфиденциальности</title>
    <link rel="shortcut icon" href="https://cms.abpx.kz/{{ site_favicon.path }}" type="image/png">
    <link rel="stylesheet" href="{{ base_url }}assets/css/bootstrap/bootstrap.css?v=2" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/swiper.min.css" />
    <link rel="stylesheet" href="{{ base_url }}assets/css/new.style.css?v=15" />

    {{ site_scripts_in_head|raw }}
  
  </head>
  <body>

    <header class="position-absolute align-items-center w-100" style="z-index: 11111">
        <div class="container">
          <div class="row">
  
            <div class="col d-flex d-lg-none pe-0 menu-toggle-wrapper">
              <div class="menu-toggle main-header__menu-toggle" onclick="frontend.sidebar('close'); return false">
                  <span class="menu-toggle__line"></span>
                  <span class="menu-toggle__line"></span>
                  <span class="menu-toggle__line"></span>
              </div>
            </div>
  
            <div class="col-4 col-md-3 col-lg-2 col-xl-2 col-xxl-1 d-flex brand align-items-center justify-content-start">
              <a class="navbar-brand d-inline-block py-2 mr-1" target="_blank" href="https://exin.kz/">
                <img src="https://cms.abpx.kz{{ exin_logo.path }}" class="px-2 py-1" />
              </a>
              <a class="navbar-brand d-inline-block py-2 m-0" href="/#home">
                <img src="https://cms.abpx.kz{{ site_logo.path }}" class="px-2 py-1" />
              </a>
            </div>
  
            <div class="d-none d-lg-flex col-lg col-xl d-flex align-items-center justify-content-end">
              <ul class="nav-menu right text-end">
                <li>
                  <a class="active" href="/#home">
                    О комплексе
                  </a>
                </li>
                <li>
                  <a href="/#flats">
                    Квартиры
                  </a>
                </li>
                <li>
                  <a href="/#buildingSteps">
                    Ход строительства
                  </a>
                </li>
                <li>
                  <a href="/#contacts">
                    Контакты
                  </a>
                </li>
              </ul>
            </div>
            
            <div class="col-5 col-md-5 col-lg-3 ms-auto d-flex align-items-center justify-content-end menu">
              <a href="tel:{{ site_phone }}" id="phoneGroup">
                <span class="icon"><span class="icon-phone"></span></span>
                <span class="phoneNumber">{{ site_phone }}</span><br>
                <span class="info">Отдел продаж</span>
              </a>
            </div>
            
          </div>
        </div>
      </header>

      <section class="private-police" style="padding: 140px 0px 70px 0px">
          <div class="container">
            <h2 class="sectionTitle">
              Политика конфиденциальности
            </h2>
            <div class="provate-police__content">
              {{ privacy_policy|raw }}
            </div>
          </div>
      </section>

      {{ include('widgets/footer.twig') }}

  </body>
  
  <script src="{{ base_url }}assets/js/swiper.min.js"></script>
  <script src="{{ base_url }}assets/js/fslightbox.js"></script>

  {{ site_scripts_in_footer|raw }}

</html>
